extends ../layouts/default

block intro
	.container
		if !data.page
			h3 Page does not exist for this URL.
		else
			h1= data.page.title

block content
	.container
		if data.page
			.post
				if data.page.image.exists
					p
						.image-wrap: img(src=data.page._.image.fit(750,450)).img-responsive
				!= data.page.content
