@import url(//fonts.googleapis.com/css?family=Kelly+Slab&effect=crackle);

$piss-yellow: #e1e114;
$puke-green: #a3c00f;

body {
	font-family: "Kelly Slab", sans-serif;
	background: grey;
}

#header {
	margin-top: 10px;
	font-size: 3.5em;
}

.navbar-default {
	background: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > li {
    a, a:hover, a:focus {
        background: rgba(0, 0, 0, 0);
        color: $piss-yellow;
    }
}

.navbar-default .navbar-nav > li > a {
	color: $puke-green;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.container {
	background: rgba(255, 255, 255, 0.75);
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #777;
	padding-top: 5px;
	color: #777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
